class Library:
    def __init__(self,books):
        self.books=books
    # Available books in library:
    def available_books(self):
        print("Available books right now : ")
        for book in self.books:
            print(book)
    # Block to borrow book
    def borrow(self,book):
        if book in self.books:
            self.books.remove(book)
            print("You have succesfully borrowed book is : ",book)
        else:
            print(book,"is not available right now,pls check the available books")
    # Block to return book
    def return_book(self,book):
        self.books.append(book)
        print("You have successfully returneded book is: ",book)

books=[]
x = int(input("Enter num of Books: "))
for i in range(0,x):
    y=input("Enter Books Name: ")
    books.append(y)

o=Library(books)
msg='''
1.available books
2.borrow
3.return
4.exit
'''
i=1
c=0
while i==1:
    print(msg)
    x=int(input("enter your choice: "))
    if x==1:
        o.available_books()
    elif x==2:
        a=input("enter book name to borrow : ")
        o.borrow(a)
    elif x==3:
        a=input("enter book name to return: ")
        o.return_book(a)
    elif x==4:
        print("Thank you...! Byeeeee....!")
        quit()
    else:
        print("Invalid input is given,pls try again ")
    c= int(input("enter 1 to continue: "))
    if c==1:
        continue
    else:
        break


